body{
	margin:0px;
}

p {
	margin: 10px;
}

.wrapper {
  width: 920px;
  margin: 0 auto 0 auto;
  text-align: center;
  color: white;
  font-family: arial;
}

.topNavigationBar ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #2F3B45;
	text-align: center;
	width: 100%;
	
}

.topNavigationBar li{
	display: inline;
}

.topNavigationBar li a{
    display: inline-block;
    padding: 10px 15px;
	font-size: 25px;
    text-decoration: none;
    font-weight: bold;
	color:white;
}

.topNavigationBar li a:hover{
    color: #00B0F0;
}

.bottomNavigationBar ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #2F3B45;
	text-align: center;
	width: 100%;

}

.bottomNavigationBar li{
	display: inline;
}

.bottomNavigationBar li a{
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color:white;
}

.bottomNavigationBar li a img:hover{
	background: #00B0F0;
}

.bottomNavigationBar ul a img{
	width: 100px;
	height: 100px;
	background: white;
}

.contactInformation li a img{
	width: 100px;
	height: 100px;
	background: white;
}

.contactInformation li a{
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color:white;
}

.contentsHeader{
	display:block;
	background: #2F3B45;
	font-weight: bold;
	vertical-align: text-bottom;
	line-height: 0px;
}

.contentsBlock{
	display:block;
	text-align: left;
	background: #485B6A;
}

.center {
	width:100%;
	margin: 0 auto;
}

.topNavigationBar{
	position:fixed;
	width:920px;
	top:0;
}

.topNavigationBar ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #2F3B45;
	text-align: center;
	width: 100%;
	
}

.topNavigationBar li a{
	display: inline-block;
	padding: 10px 25px;
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	color:white;
}

.bottomNavigationBar a img{
	background: white;
}

.bottomNavigationBar li a{
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color:white;
}

.gamePictures img{
	margin-bottom: 6px;
}

.footer {
	display:block;
	background: #2F3B45;
	vertical-align: text-bottom;
	line-height: 0px;
	padding-top: 1px;
	padding-bottom: 5px;
}

@media screen and (min-width:321px){
	.wrapper {
		width: 920px;
	}
	
	.bannerImagePhone img{
		display: none;
	}
	
	.bannerImageDesktop img{
		display: block;
		margin-bottom: 8px;
	}

	.topNavigationBar{
		width:920px;
	}

	.topNavigationBar li a{
		padding: 10px 25px;
		font-size: 25px;
	}

	.bottomNavigationBar a img{
		width: 100px;
		height: 100px;
	}

	.bottomNavigationBar li a{
		padding: 10px 15px;
		font-size: 20px;
	}

	.contentsHeader{
		padding: 5px 5px;
		font-size: 1.5em;
		font-weight: bold;
	}

	.contentsBlock{
		padding: 1px 0px;
		margin-bottom: 8px;
		font-size: 1.1em;
		line-height: 22px;
		font-weight: none;
	}

	.contentsBlock p{
		padding: 1px 22px;
	}

	.contentsBlock h2{
		padding: 1px 22px;
		line-height: 8px;
	}

	.gamePictures img{
		width: 880px;
		padding: 0px 20px;
	}
	
	.footer {
		font-size: 12px;
	}
}

@media screen and (max-width:320px){	
	.wrapper {
		width: 320px;
	}
	
	.bannerImagePhone img{
		display: block;
		margin-bottom: 8px;
	}
	
	.bannerImageDesktop img{
		display: none;
	}

	.topNavigationBar{
		width:320px;
	}

	.topNavigationBar li a{
		padding: 10px 15px;
		font-size: 20px;
	}

	.bottomNavigationBar li a img{
		width: 60px;
		height: 60px;
	}

	.bottomNavigationBar li a{
		padding: 10px 5px;
		font-size: 20px;
	}

	.contentsHeader{
		padding: 4px 5px;
		font-size: 1em;
	}

	.contentsBlock{
		padding: 1px 0px;
		margin-bottom: 8px;
		font-size: 1.3em;
		line-height: 1.3em;
	}

	.contentsBlock p{
		padding: 1px 8px;
	}

	.contentsBlock h2{
		padding: 1px 8px;
	}

	.gamePictures img{
		width: 310px;
		padding: 0px 5px;
	}
	
	.footer {
		font-size: 10px;
	}
}